# .gitignore

# Ignore everything other than what we specifically whitelist
*

# Allow descending into directories for future rules
!*/

# Files
!.gitignore
!Dockerfile
!requirements*.txt
!*.sample.yml
!site.*.yml

# Directories
!library/**
!roles/**
